@charset "UTF-8";

.fontCommon_Option
{
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #333333;
}



.shadow_eff
{
  box-shadow: 0px 5px 5px rgb(200, 200, 200);
  margin-bottom: 10px;
}

#container_project
{
	max-width: 1050px; 
	padding-left: 0px;
}